extends layout

block content
  h1 Node.JS User Registrationkbe
  h2 Users list
  div
    each userWithUserActivation in usersWithUserActivations
      li 
        div
          p #{userWithUserActivation.user.firstname} #{userWithUserActivation.user.lastname.toUpperCase()} Activation Key : #{userWithUserActivation.userActivation.activationKey} &nbsp;
            - if (userWithUserActivation.user.active)
              a(href='/user/desactivateUser/#{userWithUserActivation.userActivation.activationKey}') Desactivate
            - else 
              a(href='/user/activate/#{userWithUserActivation.userActivation.activationKey}') Activate

